<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-compass"
        title="Trips"
        [delete]="isReadOnly() ? null : deleteTrip.bind(this)"
        entityName="trip"
        [addUrl]="isReadOnly() ? null : 'add'"
        [editUrl]="isReadOnly() ? null : 'edit/:id'"
        [viewUrl]="!isReadOnly() ? null : 'view/:id'"
        [menuItems]="menuItems()"
    ></app-entities-header>

    @if (usersService.isTemporarySignal()) {
    <div style="padding-top: 0.5rem; text-align: center;">
        <a href="/help/get-started/will-plantour-provide-prefilled-test-data">help me add trip</a>
    </div>
    }

    <app-entities-actions
    ></app-entities-actions>

    <app-entities
        [itemComponent]="tripItemComponent"
        [itemMetaData]="itemMetaData"
    ></app-entities>
</div>