<div class="page-container">
  <app-entities-header
    entityIcon="pi pi-globe"
    title="Public trip activities"
    [delete]="isReadOnly() ? null : deleteTripActivity.bind(this)"
    entityName="public activity"
    [addUrl]="isReadOnly() ? null : 'add'"
    [editUrl]="isReadOnly() ? null : 'edit/:id'"
    [viewUrl]="!isReadOnly() ? null : 'view/:id'"
    [menuItems]="menuItems()"
  ></app-entities-header>

  <app-entities-actions></app-entities-actions>

  <app-entities
    [itemComponent]="tripActivityItemComponent"
    [itemMetaData]="itemMetaData"
  ></app-entities>
</div>