:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.controls-wrapper {
  width: 100%;
}

.form-field {
  margin-bottom: 1rem;
}

.required {
  color: var(--danger-color);
}

.error-message {
  color: var(--danger-color);
}
