<div class="page-container">
  <app-form-header
    [title]="title"
    icon="objects-column"
    [menuItems]="menuItems()"
  ></app-form-header>

  <div class="controls-wrapper">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >

      <div class="form-field">
        <label for="name">Name<span class="required">*</span></label>
        <input
          appAutoFocus
          pInputText
          id="name"
          type="text"
          formControlName="name"
          placeholder="Enter item name"
        />
        @if (form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)) {
        @if (form.get('name')?.errors?.['required']) {
        <small class="error-message">
          Name is required
        </small>
        }
        }
      </div>

      <!-- 
          TODO: resolve the upper input focus issue, the
          (mousedown)="$event.preventDefault()"
          does not applicable here
          -->
      <div class="form-field">
        <label for="category">Category</label>
        <p-select
          id="category"
          formControlName="category"
          [options]="(lookupValues$ | async)?.categories"
          placeholder="Select category (optional)"
          [showClear]="true"
          styleClass="w-full"
          [editable]="true"
        ></p-select>
      </div>

      <div class="form-field">
        <label for="value">Value</label>
        <p-inputnumber
          inputId="value"
          formControlName="value"
          placeholder="Enter value (optional)"
          mode="decimal"
          locale="en-US"
          [min]="0"
          [maxFractionDigits]="3"
        />
      </div>

      <div class="form-field">
        <label for="units">Units</label>
        <p-select
          id="units"
          formControlName="units"
          [options]="(lookupValues$ | async)?.units"
          placeholder="Select unit (optional)"
          [showClear]="true"
          styleClass="w-full"
          [editable]="true"
          [editable]="true"
        ></p-select>
      </div>

      <div class="form-field">
        <label for="notes">Notes</label>
        <textarea
          pTextarea
          id="notes"
          formControlName="notes"
          rows="5"
          placeholder="Enter notes (optional)"
        ></textarea>
      </div>

      <app-form-actions
        [onCancel]="onCancel.bind(this)"
        cancelLabel="To items"
        cancelIcon="chevron-left"
        [cancelDisabled]="false"
        [onSubmit]="onSubmit.bind(this)"
        submitLabel="Submit"
        submitIcon="save"
        [submitDisabled]="isLoading() || form.invalid"
      >
      </app-form-actions>
    </form>
  </div>
</div>