<div class="page-container">
  <app-form-header
    [title]="title"
    icon="shopping-bag"
    [menuItems]="menuItems()"
  ></app-form-header>

  @if (usersService.isTemporarySignal()) {
  <div style="padding-top: 0.5rem; text-align: center;">
    <a href="/help/get-started/first-steps">How to take the first steps</a>
  </div>
  }

  <div class="controls-wrapper">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-field">
        <label for="name">Name<span class="required">*</span></label>
        <!-- <input
          appAutoFocus
          pInputText
          id="name"
          type="text"
          formControlName="name"
          placeholder="Enter bag name"
        /> -->
        <p-select
          appAutoFocus
          id="name"
          formControlName="name"
          [options]="lookupPackNames$ | async"
          placeholder="Select bag name"
          styleClass="w-full"
          [editable]="true"
        ></p-select>

        @if (form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)) {
        @if (form.get('name')?.errors?.['required']) {
        <small class="error-message">
          Name is required
        </small>
        }
        }
      </div>

      <div class="form-field">
        <label for="label">Label</label>
        <input
          pInputText
          id="label"
          type="text"
          formControlName="label"
          placeholder="Enter label (optional)"
        />
      </div>

      <div class="form-field">
        <label for="weightValue">Weight</label>
        <p-inputnumber
          inputId="weightValue"
          formControlName="weightValue"
          placeholder="Enter weight (optional)"
          mode="decimal"
          locale="en-US"
          [min]="0"
          [maxFractionDigits]="3"
        />
      </div>


      <div class="form-field">
        <label for="weightUnit">Unit</label>

        <p-select
          id="weightUnit"
          formControlName="weightUnit"
          [options]="lookupUnits$ | async"
          placeholder="Select weight unit (optional)"
          styleClass="w-full"
          [editable]="true"
        ></p-select>
      </div>

        @if (form.hasError('allTogether') && form.touched) {
        <small class="error-message">
          Weight and Unit must be either both filled in or both empty
        </small>
        }


      <div class="form-field">
        <div class="container">
          <p-checkbox
            formControlName="packingListIncluded"
            [binary]="true"
            inputId="packingListIncluded"
          />
          <label for="packingListIncluded"> Packing List Included </label>
        </div>
      </div>

      <div class="form-field">
        <label for="notes">Notes</label>
        <textarea
          pTextarea
          id="notes"
          formControlName="notes"
          rows="5"
          placeholder="Enter notes (optional)"
        ></textarea>
      </div>

      <app-form-actions
        [onCancel]="onCancel.bind(this)"
          cancelLabel="To trip bags"
        cancelIcon="chevron-left"
        [cancelDisabled]="false"
        [onSubmit]="onSubmit.bind(this)"
        submitLabel="Submit"
        submitIcon="save"
        [submitDisabled]="form.invalid"
      >
      </app-form-actions>
    </form>
  </div>
</div>