<div class="page-container">


  <div class="page-header">
    <div class="page-left">
      <i class="pi pi-sign-in"></i>
      <h2>Sign In</h2>
    </div>
  </div>

  <div class="radio-container">
    <div>Please sign in as:</div>

    <div class="radio-item">
      <p-radiobutton
        name="signInType"
        value="admin"
        [(ngModel)]="signInType"
        inputId="admin"
        (click)="onRadioClick($event)"
      />
      <div for="admin">Admin</div>
    </div>

    <div class="radio-item">
      <p-radiobutton
        name="signInType"
        value="participant"
        [(ngModel)]="signInType"
        inputId="participant"
        (click)="onRadioClick($event)"
      />
      <label for="participant">Participant</label>
    </div>
  </div>

  <div class="instruction">
    @if(isAdmin) {

    <div class="info-message">
      <i class="pi pi-info-circle"></i>
      <span>Use Google or Facebook to sign in as admin instantly. Alternatively, enter your email to receive a secure
        login link. In either case, if an account doesn't exist for that email, one will be created for you.</span>
    </div>



    } @else {

    <div class="info-message">
      <i class="pi pi-info-circle"></i>
      <span>To sign in as a participant, enter the access code from the invitation email sent by your administrator.
        Alternatively, you can sign in instantly by clicking the link provided in that email.</span>
    </div>
    }

  </div>

  <div class="controls-wrapper">

    @if (isAdmin) {
    <div class="buttons">

      @if (hasGoogleLogin) {
        <div
          #googleButtonHost
          class="google-button-overlay1"
        ></div>
        }

      @if (hasFacebookLogin) {
      <app-button
        label="Facebook"
        [icon]="'pi pi-facebook'"
        [disabled]="isLoading"
        (click)="onSignInWithFacebook()"
      />
      }

    </div>
    }

    <form
      [formGroup]="currentForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Email Field -->
      @if(isAdmin) {
      <div class="form-field">
        <label for="email">Email <span class="required">*</span></label>
        <input
          pInputText
          id="email"
          type="email"
          formControlName="email"
          placeholder="your.email@example.com"
          [class.p-invalid]="isFieldInvalid('email')"
          (input)="onEmailChange($event)"
        />
        @if (isFieldInvalid('email')) {
        <small class="error-message">
          {{ getFieldError('email') }}
        </small>

        }
      </div>

      } @else {
      <!-- Access Code Field -->
      <div class="form-field">
        <label for="accessCode">Access Code <span class="required">*</span></label>
        <p-password
          id="accessCode"
          formControlName="accessCode"
          placeholder="Enter your access code"
          [toggleMask]="true"
          [feedback]="false"
          [class.p-invalid]="isFieldInvalid('accessCode')"
          styleClass="w-full"
        >
        </p-password>
        @if (isFieldInvalid('accessCode')) {
        <small class="error-message">
          {{ getFieldError('accessCode') }}
        </small>
        }
      </div>
      }

      <!-- Error Message -->
      @if (errorMessage) {
      <div class="error-alert">
        <i class="pi pi-exclamation-triangle"></i>
        <span>{{ errorMessage }}</span>
      </div>
      }
      @if (successMessage) {
      <div class="info-message">
        <i class="pi pi-info-circle"></i>
        <span>{{ successMessage }}</span>
      </div>
      }
      <!-- Form Actions -->
      <div class="form-actions">
        <app-button
          type="submit"
          label="Sign In"
          icon="pi pi-sign-in"
          [loading]="isLoading"
          [disabled]="isLoading || currentForm.invalid || !!successMessage"
        />
      </div>
    </form>
  </div>
</div>