:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    //flex-wrap: wrap;
    // align-items: center;
    // justify-items: center;
    margin-bottom: 1rem;
}