:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.radio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

    font-weight: 500;
    font-family: var(--font-label);
    color: var(--text-color);
    padding-bottom: 0.5rem;
}

.radio-item {
    display: flex;
    gap: 0.5rem;
}