<span
    class="ic-2-item ellipsis-text"
    [innerHTML]="entity.fullName"
></span>
@if (itemMetaData?.markingEnabled?.()) {
<div class="trip-user-mark" (click)="onMarkedClick($event)">
    <p-checkbox
      [ngModel]="marked"
      [ngModelOptions]="{ standalone: true }"
      [binary]="true"
      [inputId]="'mark-trip-user-' + entity.id"
      (onChange)="onMarkedChange($event)"
    ></p-checkbox>
    <label [for]="'mark-trip-user-' + entity.id">Mark</label>
</div>
}
<a
    class="ic-2-item ic-2-right ellipsis-text"
    [href]="'mailto:'+entity.email"
>{{entity.email}}</a>

@if (showEditableAssignmentStatusText) {
<div class="smaller-text" [class]="statusToClassMap">{{entity.sharedAssignmentStatusText}}</div>
}

@if (canEditRejected) {
<div class="trip-user-actions">
        <p-checkbox
            [ngModel]="!!entity.rejected"
            [ngModelOptions]="{ standalone: true }"
            [binary]="true"
            [inputId]="'rejected-trip-user-' + entity.id"
            (onChange)="onRejectedChange($event)"
            (click)="onRejectedClick($event)"
        ></p-checkbox>
    <label [for]="'rejected-trip-user-' + entity.id" (click)="onRejectedClick($event)">Rejected</label>
</div>
}

    @if (showRejectedText) {
    <div class="trip-user-rejected-text">Rejected</div>
    }

@if (lowerText.length && itemMetaData!.lowerTextVisible()) {
<div class="smaller-text">{{lowerText}}</div>
}