<div class="page-container">
    <ul class="section">
        <li class="item">
            Trip info            
        </li>
        <li class="item">
            User Trip info            
        </li>
        <li class="item">
            All Users Trip info            
        </li>
    </ul>
    <section class="section">
        <li class="item">
            User All Trips info            
        </li>
        <li class="item">
            All Users All Trips info            
        </li>
    </section>
</div>