<div class="panel">
    <!-- no format -->
    @if(!loading) {
        @if (!trips || trips.length === 0) {
            <app-message-panel messageType="info" messageText="No trips"></app-message-panel>

        } @else {
            <p-select
                [options]="trips"
                optionLabel="name"
                optionValue="id"
                [ngModel]="selectedTripId()"
                (ngModelChange)="onSelectedTripChange($event)"
            ></p-select>
        }
    }
    <!-- no format -->
</div>