<div class="panel">
    <!-- no format -->
    @if(loading) {
        <div>Loading...</div>
    } @else {
        @if (!trips || trips.length === 0) {
            <div class="error-alert">
                <i class="pi pi-exclamation-triangle"></i>
                <span>No trips</span>
            </div>
        } @else {
            <p-select
                [options]="trips"
                optionLabel="name"
                optionValue="id"
                [ngModel]="selectedTripId()"
                (ngModelChange)="onSelectedTripChange($event)"
            ></p-select>
        }
    }
    <!-- no format -->
</div>