.content-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--primary-color);
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}


.page-wrapper {
  background: var(--content-container-background-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  //height: 100%;
}

.page-wrapper {
  width: 94vw;
}

@media (min-width: 600px) {
  .page-wrapper {
    width: 80vw;
  }
}

@media (min-width: 1200px) {
  .page-wrapper {
    width: 40vw;
  }
}

.page-content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
