
  <div class="page-header">
    <div class="page-left">
      <i
        class="pi"
        [class]="entityIcon"
      ></i>
      <h2>{{ title }}</h2>
    </div>
  </div>

  <div class="controls-wrapper">

    <ng-container *ngTemplateOutlet="formTemplate; context: { 
        form: form, 
        thingCategories$: lookupsService.thingCategories$, 
        units$: lookupsService.units$,
        participantStatuses$: lookupsService.participantStatuses$,
        tripStatuses$: lookupsService.tripStatuses$,
        
      }">
    </ng-container>

    @if(errorMessage) {
      <app-message-panel messageType="error", [messageText]="errorMessage"></app-message-panel>
    }

    <div class="form-actions">
      @if(backUrl) {
      <p-button
        label="Cancel"
        icon="pi pi-times"
        severity="secondary"
        type="button"
        (onClick)="navigateBack()"
        [loading]="isLoading"
        [disabled]="cancelDisabled"
      ></p-button>
      }

      <p-button
        type="submit"
        label="Submit"
        icon="pi pi-save"
        [loading]="isLoading"
        [disabled]="enterDisabled"
        (click)="onSubmit()"
      >
      </p-button>
    </div>
  </div>
