<app-content-layout>

  <div class="page-header">
    <div class="header-left">
      <i
        class="pi"
        [class]="entityIcon"
      ></i>
      <h2>{{ title }}</h2>
    </div>


  </div>

  <div class="controls-wrapper">

    <!-- <ng-container *ngTemplateOutlet="formTemplate; context: { form: form, onSubmit: onSubmit.bind(this) }">
    </ng-container> -->
    <ng-container *ngTemplateOutlet="formTemplate; context: { form: form }">
    </ng-container>

    <div class="form-actions">
      @if(backUrl) {
      <p-button
        label="Cancel"
        icon="pi pi-times"
        severity="secondary"
        type="button"
        (onClick)="navigateBack()"
        [loading]="isLoading"
        [disabled]="isLoading"
      ></p-button>
      }

      <p-button
        type="submit"
        label="Submit"
        icon="pi pi-save"
        [loading]="isLoading"
        [disabled]="isLoading || form.invalid"
        (click)="onSubmit()"
      >
      </p-button>
    </div>
  </div>
</app-content-layout>