<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-shopping-bag"
        title="Bags"
        [delete]="deletePack.bind(this)"
        entityName="bag"
        
        addUrl="add"
        editUrl="edit/:id"
        [menuItems]="menuItems()"
    ></app-entities-header>

    @if (usersService.isTemporarySignal()) {
    <div style="padding-top: 0.5rem; text-align: center;">
        <a href="/help">help me add bag</a>
    </div>
    }

    <app-entities-actions
        [onAddTargetClick]="onAddTargetClick.bind(this)"
        [onDeleteTargetClick]="onDeleteTargetClick.bind(this)"
    ></app-entities-actions>
    <app-entities
        [itemComponent]="packItemComponent"
        [targetEntityClick]="targetEntityButtonClick.bind(this)"
    ></app-entities>
</div>