<app-generic-list
    [service]="service"
    [listActionsConfiguration]="configuration"
    [itemTemplate]="packTemplate"
    title="Packs"
    entityIcon="pi-box"
    [isListReadOnly]="false"
    [addUrl]="'add'"
    [editUrl]="'edit/:id'"
    entityNameProp="name"
    entityName="package"
    [toolBarButtons]="toolBarButtons"
    [dic2trip]="true"
    [tripDicService]="tripDicService"
    [fromDicService]="fromDicService"
>
</app-generic-list>

<ng-template
    #packTemplate
    let-item
>
    <!-- <div class="list-item"> -->
        <span
            [innerHTML]="item.name"
        ></span>
    <!-- </div> -->
    <!-- <textarea readonly rows="4" cols="50">{{ item.description }}</textarea> -->
</ng-template>