<div class="confirm-email">
  <div class="card">
    <h2>Sign In with Token</h2>

    @if (isLoading) {
      <p >Signing you in...</p>
    } @else {

    }


    @if (successMessage) {
    <p class="success">
      {{ successMessage }}
    </p>
    }

    @if (errorMessage) {
    <p class="error">
      {{ errorMessage }}
    </p>
    }


    <div class="actions">
      @if(!isLoading && errorMessage) {
      <app-button
        label="Go to sign in"
        (click)="goToSignIn()"
      ></app-button>
      }
    </div>
  </div>
</div>