<div class="login-container">
  <p-card class="login-card">
    <h2 class="title">Login</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
      
      <div class="form-field">
        <label>Email</label>
        <input
          pInputText
          type="email"
          formControlName="email"
          class="input-control"
        />
        <small
          class="error"
          *ngIf="form.controls.email.invalid && form.controls.email.touched"
        >
          Enter a valid email.
        </small>
      </div>

      <div class="form-field">
        <label>Password</label>
        <p-password
          formControlName="password"
          [feedback]="false"
          toggleMask="true"
          styleClass="input-control"
          inputId="password"
        ></p-password>
      </div>

      <button
        pButton
        type="submit"
        label="Login"
        class="login-button"
        [loading]="loading"
        [disabled]="form.invalid || loading"
      ></button>
    </form>
  </p-card>
</div>
