<div class="list-container">
    <!-- @for (entity of processedEntities(); track entity.id) { -->
    @for (entity of processedEntities | async; track entity.id) {
    <div
        class="item-container"
        [class.selected]="isSelected(entity)"
        (click)="selectEntity(entity)"
    >
        <div class="left">
            <ng-container *ngComponentOutlet="itemComponent; inputs: getEntityInputs(entity)">
            </ng-container>
        </div>

        @if(showEntityButton()) {
        <div class="right">
            <p-button
                [icon]="icon(entity)"
                (click)="onTargetEntityClick(entity, $event)"
                [rounded]="true"
                severity="secondary"
                [outlined]="true"
            ></p-button>
        </div>
        }
    </div>

    } @empty {
    <div>No rows</div>
    }
</div>