<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-star"
        title="AI prompts"
        entityName="AI item"
        [menuItems]="menuItems()"
    ></app-entities-header>

    <div class="prompt-container">
        <app-dropdown
            class="prompt-select"
            [options]="prompts || []"
            [(ngModel)]="selectedPrompt"
            (valueChange)="onPromptValueChange($event)"
        >
        </app-dropdown>
        <app-button
            class="prompt-button"
            label="Ask AI"
            icon="pi pi-send"
            (click)="clickSubject.next(selectedPrompt)"
            [disabled]="!selectedPrompt || isLoading()"
            [loading]="isLoading()"
        ></app-button>
    </div>
    <app-entities-actions
        [onAddTargetClick]="onAddTargetClick.bind(this)"
        [onDeleteTargetClick]="onDeleteTargetClick.bind(this)"
    ></app-entities-actions>
    <app-entities
        [itemComponent]="templatesAiItemComponent"
        [targetEntityClick]="targetEntityClick.bind(this)"
    ></app-entities>
</div>