<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-objects-column"
        title="Template AI items"
        entityName="template AI item"
        [menuItems]="menuItems()"
    ></app-entities-header>

    <div class="prompt-container">

        <!-- <p-select
            style="width: 100%;"
            [options]="prompts"
            placeholder="Select or enter prompt"
            [(ngModel)]="selectedPrompt"
            editable="true"
            showClear="true"
        >
        </p-select> -->

<app-dropdown
class="prompt-select"
            [options]="prompts || []"
            [(ngModel)]="selectedPrompt"
>
    
</app-dropdown>

        <app-button
            class="prompt-button"
            label="Ask AI"
            icon="pi pi-plus"
            (click)="clickSubject.next(selectedPrompt)"
            [disabled]="!selectedPrompt || isLoading()"
            [loading]="isLoading()"
        ></app-button>
    </div>
    <app-entities-actions
        [onAddTargetClick]="onAddTargetClick.bind(this)"
        [onDeleteTargetClick]="onDeleteTargetClick.bind(this)"
    ></app-entities-actions>
    <app-entities
        [itemComponent]="templatesAiItemComponent"
        [targetEntityClick]="targetEntityClick.bind(this)"
    ></app-entities>
</div>