<div class="page-container">
  <app-form-header
    [title]="title"
    icon="user"
  ></app-form-header>

  <div class="controls-wrapper">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-field">
        <label for="email">Email
          @if (isAddMode) {
          <span class="required">*</span>
          }
        </label>
        <input
          appAutoFocus
          pInputText
          id="email"
          type="email"
          formControlName="email"
          [placeholder]="isAddMode ? 'Enter email address' : ''"
          [readonly] = "!isAddMode"
        />
        @if (form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)) {
        @if (form.get('email')?.errors?.['required']) {
        <small class="error-message">
          Email is required
        </small>
        }
        @if (form.get('email')?.errors?.['email']) {
        <small class="error-message">
          Please enter a valid email address
        </small>
        }
        }
      </div>

      <div class="form-field">
        <label for="firstName">First Name</label>
        <input
          pInputText
          id="firstName"
          type="text"
          formControlName="firstName"
          [placeholder]="isAddMode ? 'Enter first name' : ''"
          [readonly] = "!isAddMode"
        />
      </div>

      <div class="form-field">
        <label for="lastName">Last Name</label>
        <input
          pInputText
          id="lastName"
          type="text"
          formControlName="lastName"
          [placeholder]="isAddMode ? 'Enter last name' : ''"
          [readonly] = "!isAddMode"
        />
      </div>

      <div class="form-field">
        <label for="phone">Phone</label>
        <input
          pInputText
          id="phone"
          type="tel"
          formControlName="phone"
          [placeholder]="isAddMode ? 'Enter phone number' : ''"
          [readonly] = "!isAddMode"
        />
      </div>

      <div class="form-field">
        <label for="notes">Notes</label>
        <textarea
          pTextarea
          id="notes"
          formControlName="notes"
          rows="5"
          [placeholder]="!isReadOnlyMode ? 'Enter notes (optional)' : ''"
          [readonly] = "isReadOnlyMode"
        ></textarea>
      </div>

      <app-form-actions
        [onCancel]="onCancel.bind(this)"
        cancelLabel="To travelers"
        cancelIcon="chevron-left"
        [cancelDisabled]="false"
        [onSubmit]="!isReadOnlyMode ? onSubmit.bind(this) : null"
        submitLabel="Submit"
        submitIcon="save"
        [submitDisabled]="isLoading() || form.invalid"
      >
      </app-form-actions>
    </form>
  </div>
</div>