<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-objects-column"
        title="Trip shared things"
        [delete]="deleteTripThing.bind(this)"
        entityName="thing"
        addUrl="add"
        editUrl="edit/:id"
        [menuItems]="menuItems()"
    ></app-entities-header>

    <app-entities-actions
        [onAddTargetClick]="onAddTargetClick.bind(this)"
        [onDeleteTargetClick]="onDeleteTargetClick.bind(this)"
    ></app-entities-actions>
    @if(showCalendarForDeadline()) {
    <div class="container">

        <label
            for="datepicker"
            class="font-bold block mb-2"
        > Deadline in</label>
        <p-inputNumber
            [style]="{'width': '100px'}"
            [(ngModel)]="deadlineDays"
            (ngModelChange)="onModelChangeDays()"
            fluid
            [min]="1"
            [max]="365"
            [showButtons]="true"
        />
        @if (deadlineDays() && deadlineDays()! >= 1) {
        <div>day{{deadlineDays() == 1 ? '' : 's'}}, </div>
        <div>{{formatDate(featureDate())}}</div>
        }
    </div>
    }

    <app-entities
        [itemComponent]="tripSharedItemComponent"
        [targetEntityClick]="targetEntityButtonClick.bind(this)"
        [itemMetaData]="itemMetaData"
    ></app-entities>
</div>