<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-link"
        title="Trip shared items"
        [delete]="isParticipant() ? null : deleteTripThing.bind(this)"
        entityName="shared item"
        [addUrl]="isParticipant() ? null : 'add'"
        [editUrl]="isParticipant() ? null : 'edit/:id'"
        [viewUrl]="!isParticipant() ? null : 'view/:id'"
        [menuItems]="menuItems()"
    ></app-entities-header>

    <app-entities-actions
        [onAddTargetClick]="onAddTargetClick.bind(this)"
        [onDeleteTargetClick]="onDeleteTargetClick.bind(this)"
    ></app-entities-actions>
    @if(showCalendarForDeadline()) {
    <app-deadline
        [componentId]="componentId"
        (deadlineAtChange)="onDeadlineAtChange($event)"
    ></app-deadline>
    }

    <app-entities
        [itemComponent]="tripSharedItemComponent"
        [targetEntityClick]="targetEntityButtonClick.bind(this)"
        [itemMetaData]="itemMetaData"
    ></app-entities>
</div>