<app-base-form
  [service]="service"
  [fieldsConfig]="fieldsConfig"
  [formTemplate]="fieldsTemplate"
  [mode]="mode"
  entityIcon="pi-box"
  entityName="trip shared item"
  [id]="id"
  [useTripId]="true"
  [backUrl]="'/trips/:tripId/trip-shared'"
  listComponentId="trip-shared"
>
</app-base-form>

<ng-template
  #fieldsTemplate
  let-form="form"
  let-thingCategories="thingCategories$"
  let-onSubmit="onSubmit"
>
  <div class="controls-wrapper">
    <form [formGroup]="form">
      <div class="form-field">
        <label for="name">Name<span class="required">*</span></label>
        <input
          pInputText
          id="name"
          type="text"
          formControlName="name"
          placeholder="Enter shared item name"
        />
        @if (form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty) ) {
        @if (form.get('name')?.errors?.['required']) {
        <small class="error-message">
          Name is required
        </small>
        }
        }
      </div>

      <div class="form-field">
        <label for="category">Category</label>
        <p-select
          id="category"
          formControlName="category"
          [options]="thingCategories | async"
          optionLabel="name"
          optionValue="name"
          placeholder="Select category"
          [showClear]="true"
          styleClass="w-full"
          [editable]="true"
        ></p-select>
      </div>

      <div class="form-field">
        <label for="value">Value</label>
        <input
          pInputText
          id="value"
          type="text"
          formControlName="value"
          placeholder="Enter value (optional)"
        />
      </div>

      <div class="form-field">
        <label for="units">Units</label>
        <input
          pInputText
          id="units"
          type="text"
          formControlName="units"
          placeholder="Enter units (optional)"
        />
      </div>

      <div class="form-field">
        <label for="assignedToId">Assigned To</label>
        <p-select
          id="assignedToId"
          formControlName="assignedToId"
          [options]="tripUsers$ | async"
          optionLabel="firstName"
          optionValue="id"
          placeholder="Select person"
          [showClear]="true"
          styleClass="w-full"
        ></p-select>
      </div>

      <div class="form-field">
        <label for="assignedDeadline">Deadline</label>
        <input
          pInputText
          id="assignedDeadline"
          type="date"
          formControlName="assignedDeadline"
        />
      </div>

      <div class="form-field">
        <label for="notes">Notes</label>
        <textarea
          pTextarea
          id="notes"
          formControlName="notes"
          rows="5"
          placeholder="Enter notes (optional)"
        ></textarea>
      </div>
    </form>
  </div>
</ng-template>
