<div class="container">
    <div
        class="left"
        [innerHTML]="entity.name"
    ></div>
    @if(!targetCondition()) {
    <p-select
        class="content w-full"
        [options]="itemMetaData.packs"
        optionLabel="name"
        optionValue="id"
        [ngModel]="entity.tripUserPackageId"
        [placeholder]="'Select package'"
        [ngModelOptions]="{ standalone: true }"
        [showClear]="true"
        appendTo="body"
        (onChange)="onPackChange($event.value)"
        (onClick)="onPackClick($event)"
        showClear="true"
    >
    </p-select>
    }
</div>