<div class="page-container">
  <app-entities-header
    entityIcon="pi pi-key"
    title="Keys"
    [delete]="deleteKey.bind(this)"
    entityName="key"
    addUrl="add"
    editUrl="edit/:id"
    [menuItems]="menuItems()"
  ></app-entities-header>

  @if (usersService.isTemporarySignal()) {
  <div style="padding-top: 0.5rem; text-align: center;">
    <a href="/help/get-started/first-steps">How to take the first steps</a>
  </div>
  }

  <app-entities-actions></app-entities-actions>
  <app-entities [itemComponent]="keyItemComponent"></app-entities>
</div>