<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-shopping-bag"
        title="Trip bags"
        [delete]="deleteTripPack.bind(this)"
        entityName="bag"
        addUrl="add"
        editUrl="edit/:id"
        [menuItems]="menuItems()"
    ></app-entities-header>

    @if (usersService.isTemporarySignal()) {
    <div style="padding-top: 0.5rem; text-align: center;">
        <a href="/help/get-started/will-plantour-provide-prefilled-test-data">help me add trip bag</a>
    </div>
    }

    <app-entities-actions
    ></app-entities-actions>
    <app-entities
        [itemComponent]="tripPackItemComponent"
    ></app-entities>
</div>