<app-generic-list
    [service]="service"
    [listActionsConfiguration]="configuration"
    [itemTemplate]="packTemplate"
    title="Trip Packs"
    entityIcon="pi-briefcase"
    [isListReadOnly]="false"
    [addUrl]="'add'"
    [editUrl]="'edit/:id'"
    entityNameProp="name"
    entityName="trip package"
    [toolBarButtons]="toolBarButtons"
    [useTripId]="true"
>
</app-generic-list>

<ng-template
    #packTemplate
    let-item
>
    <span
        class="list-name"
        [innerHTML]="item.name"
    ></span>
</ng-template>
