<app-base-form
  [service]="service"
  [fieldsConfig]="fieldsConfig"
  [formTemplate]="fieldsTemplate"
  [mode]="mode"
  entityIcon="pi-box"
  entityName="trip pack"
  [id]="id"
  [backUrl]="'/trips/' + tripId + '/trip-packs'"
  [toolBarButtons]="this.toolBarButtons"
>
</app-base-form>

<ng-template
  #fieldsTemplate
  let-form="form"
  let-onSubmit="onSubmit"
>
  <div class="controls-wrapper">
    <form [formGroup]="form">
      <div class="form-field">
        <label for="name">Name<span class="required">*</span></label>
        <input
          pInputText
          id="name"
          type="text"
          formControlName="name"
          placeholder="Enter trip pack name"
        />
        @if (form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty) ) {
        @if (form.get('name')?.errors?.['required']) {
        <small class="error-message">
          Name is required
        </small>
        }
        }
      </div>

      <div class="form-field">
        <label for="label">Label</label>
        <input
          pInputText
          id="label"
          type="text"
          formControlName="label"
          placeholder="Enter label (optional)"
        />
      </div>

      <div class="form-field">
        <label for="weightValue">Weight Value</label>
        <input
          pInputText
          id="weightValue"
          type="text"
          formControlName="weightValue"
          placeholder="Enter weight value (optional)"
        />
      </div>

      <div class="form-field">
        <label for="weightUnit">Weight Unit</label>
        <input
          pInputText
          id="weightUnit"
          type="text"
          formControlName="weightUnit"
          placeholder="Enter weight unit (optional)"
        />
      </div>

      <div class="form-field">
        <label for="packingListIncluded">Packing List Included</label>
        <input
          id="packingListIncluded"
          type="checkbox"
          formControlName="packingListIncluded"
        />
      </div>

      <div class="form-field">
        <label for="notes">Notes</label>
        <textarea
          pTextarea
          id="notes"
          formControlName="notes"
          rows="5"
          placeholder="Enter notes (optional)"
        ></textarea>
      </div>
    </form>
  </div>
</ng-template>
