@if(visible()) {
<div class="list-actions-content">
  <div class="side">
    <p-select
      [options]="conditions"
      [ngModel]="selectedCondition()"
      optionLabel="label"
      [showClear]="false"
      [ngModelOptions]="{ standalone: true }"
      (onChange)="setSelectedCondition($event.value)"
      appendTo="body"
    >
      <ng-template
        pTemplate="selectedItem"
        let-option
      >
        <div class="mode-option ">
          <i
            [ngClass]="'pi pi-' + option.icon"
            [class.has-dot]="conditionHasValue(option)"
          ></i>
        </div>
      </ng-template>

      <ng-template
        pTemplate="item"
        let-option
      >
        <div class="option-container">
          <i
            [ngClass]="'pi pi-' + option.icon"
            [class.has-dot]="conditionHasValue(option)"
          ></i>
          <span [class.target-option]="conditionIsTarget(option)">
            {{ option.label }}
          </span>
        </div>
      </ng-template>

    </p-select>

  </div>

            <!-- optionValue="id" -->
            <!-- [ngModelOptions]="{ standalone: true }" -->
  <div class="middle">
    <div>
      @switch (selectedConditionToOptionType()) {
      @case('target') {
      <ng-container>
        <div class="middle-container">
          <p-select
            [options]="getLookupOptions()"
            [ngModel]="getLookupValue()"
            class="w-full"
            optionLabel="name"
            dataKey="id"
            [placeholder]="'Select value'"
            (onChange)="onLookupValueChange($event.value)"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template
              pTemplate="selectedItem"
              let-option
            >
              <div class="ellipsis-text">
                {{option.name}}
              </div>
            </ng-template>
          </p-select>
        </div>
      </ng-container>

      }
      <!-- Lookup: show select with lookup list for chosen property -->
      @case ('lookup') {
      <ng-container>
        <div class="middle-container">
          <p-select
            class="w-full"
            optionLabel="name"
            optionValue="id"
            [options]="getLookupOptions()"
            [ngModel]="getLookupValue()"
            [placeholder]="'Select value'"
            [ngModelOptions]="{ standalone: true }"
            (onChange)="onLookupValueChange($event.value)"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template
              pTemplate="selectedItem"
              let-option
            >
              <div class="ellipsis-text">
                {{option.name}}
              </div>
            </ng-template>
          </p-select>
        </div>
      </ng-container>
      }
      @case ('filter') {
      <input
        pInputText
        id="filter"
        type="text"
        [ngModel]="getFilterValue()"
        [ngModelOptions]="{ standalone: true }"
        (input)="onFilterChange($event)"
        placeholder="Type to filter..."
        fluid
      />
      }
      @case ('sort') {

      <div class="radio-container">

        <div class="radio-item">
          <p-radiobutton
            name="sortTypeGroup"
            value="asc"
            [ngModel]="sortType()"
            (onClick)="onSortChange('asc')"
            inputId="asc"
          />
          <div for="asc">Asc</div>
        </div>

        <div class="radio-item">
          <p-radiobutton
            name="sortTypeGroup"
            value="desc"
            [ngModel]="sortType()"
            (onClick)="onSortChange('desc')"
            inputId="desc"
          />
          <label for="desc">Desc</label>
        </div>
        <div class="radio-item">
          <p-radiobutton
            name="sortTypeGroup"
            value="none"
            [ngModel]="sortType()"
            (onClick)="onSortChange('none')"
            inputId="none"
          />
          <label for="none">None</label>
        </div>
      </div>
      }
      }
    </div>
          <!-- binary="true" -->
    @if (showRadios()) {
    <div class="radio-container">
      @for(option of target()!.options; track option) {
      <div class="radio-item">
        <p-radiobutton
          name="sharedRadiobuttons"
          [value]="option.mode"
          [ngModel]="target()!.selectedMode"
          (onClick)="onTargetOptionClick($event.value)"
          [inputId]="option.label"
        />
        <div [id]="option.label">{{option.label}}</div>
      </div>
      }
    </div>
    }
  </div>

  <div class="side">
    @if(targetCondition()) {
    <div class="right-container">
      <p-button
        icon="pi pi-plus"
        (click)="onAddClick($event)"
        [rounded]="true"
        severity="secondary"
        [outlined]="true"
        [disabled]="addTargetDisabled()"
      ></p-button>
      <p-button
        icon="pi pi-minus"
        (click)="onDeleteClick($event)"
        [rounded]="true"
        severity="secondary"
        [outlined]="true"
        [disabled]="deleteTargetDisabled()"
      ></p-button>
    </div>

    } @else {
    <p-button
      icon="pi pi-times"
      severity="secondary"
      [text]="true"
      rounded="true"
      type="button"
      (onClick)="resetConditions()"
      [disabled]="!dynamicQueryService.anyConditionSet(conditions)"
      title="Reset all"
    ></p-button>

    }
  </div>
</div>
}