@if(visible()) {
<div class="list-actions-content">
  <div class="side">
    <p-select
      [options]="modeOptions"
      [(ngModel)]="selectedMode"
      optionLabel="label"
      [showClear]="false"
      [ngModelOptions]="{ standalone: true }"
      (onChange)="onOptionChange($event)"
    >
      <ng-template
        pTemplate="selectedItem"
        let-option
      >
        <div class="mode-option selected">
          <i
            [ngClass]="option.icon"
            [class.has-dot]="isActiveOption(option)"
          ></i>
        </div>
      </ng-template>

      <ng-template
        pTemplate="item"
        let-option
      >
        <div class="mode-option">
          <i
            [ngClass]="option.icon"
            [class.has-dot]="isActiveOption(option)"
          ></i>
          <span class="mode-label">
            {{ option.label }}
          </span>
        </div>
      </ng-template>

    </p-select>

  </div>

  <div class="middle">
    @switch (selectedMode()?.type) {
    <!-- Lookup: show select with lookup list for chosen property -->
    @case ('lookup') {
    <ng-container>
      <p-select
        class="w-full"
        optionLabel="name"
        optionValue="id"
        [options]="getLookupOptions(selectedMode()!.property!)"
        [ngModel]="getLookupValue(selectedMode()!.property!)"
        [placeholder]="'Select value'"
        [ngModelOptions]="{ standalone: true }"
        (onChange)="onLookupChange(selectedMode()!.property!, $event.value)"
        [showClear]="true"
      >

      <ng-template
        pTemplate="selectedItem"
        let-option
      >
        <div class="ellipsis-text">
          {{option.name}}
        </div>
      </ng-template>


      </p-select>






    </ng-container>
    }
    @case ('filter') {
    <input
      pInputText
      id="filter"
      type="text"
      [ngModel]="getFilterValue()"
      [ngModelOptions]="{ standalone: true }"
      (input)="onFilterChange($event)"
      placeholder="Type to filter..."
      fluid
    />
    }
    @case ('sort') {

    <div class="radio-container">

      <div class="radio-item">
        <p-radiobutton
          name="sortTypeGroup"
          value="asc"
          [ngModel]="sortType()"
          (onClick)="onSortChange('asc')"
          inputId="asc"
        />
        <div for="asc">Asc</div>
      </div>

      <div class="radio-item">
        <p-radiobutton
          name="sortTypeGroup"
          value="desc"
          [ngModel]="sortType()"
          (onClick)="onSortChange('desc')"
          inputId="desc"
        />
        <label for="desc">Desc</label>
      </div>
      <div class="radio-item">
        <p-radiobutton
          name="sortTypeGroup"
          value="none"
          [ngModel]="sortType()"
          (onClick)="onSortChange('none')"
          inputId="none"
        />
        <label for="none">None</label>
      </div>
    </div>
    }
    }
  </div>

  <div class="side">
    @if(isSelectedModeTarget()) {
    <p-button
      icon="pi pi-plus"
      (click)="onAddClick($event)"
      [rounded]="true"
      severity="secondary"
      [outlined]="true"
      [disabled]="addTargetDisabled()"
    ></p-button>
    <p-button
      icon="pi pi-minus"
      (click)="onDeleteClick($event)"
      [rounded]="true"
      severity="secondary"
      [outlined]="true"
      [disabled]="deleteTargetDisabled()"
    ></p-button>

    } @else {
    <p-button
      icon="pi pi-times"
      severity="secondary"
      [text]="true"
      rounded="true"
      type="button"
      (onClick)="resetConditions()"
      [disabled]="!dynamicQueryService.anyConditionSet(conditions)"
      title="Reset all"
    ></p-button>

    }
  </div>
</div>
}