<div class="page-container">
  <app-form-header
    [title]="title"
    icon="list-check"
    [menuItems]="menuItems()"
  ></app-form-header>

  <div class="controls-wrapper">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-field">
        <label for="name">Name<span class="required">*</span></label>
        <p-select
          appAutoFocus
          id="name"
          formControlName="name"
          [options]="lookupTripTodos$ | async"
          optionLabel="name"
          dataKey="name"
          [placeholder]="!isViewMode ? 'Select todo name' : ''"
          styleClass="w-full"
          [editable]="true"
          [readonly]="isViewMode"
          appendTo="body"
          (onChange)="onChangeName($event)"
        ></p-select>

        @if (form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)) {
          @if (form.get('name')?.errors?.['required']) {
            <small class="error-message">Name is required</small>
          }
        }
      </div>

      <div class="form-field">
        <label for="category">Category</label>
        <p-select
          id="category"
          formControlName="category"
          [options]="lookupCategories$ | async"
          [placeholder]="!isViewMode ? 'Select category (optional)' : ''"
          styleClass="w-full"
          [editable]="true"
          [readonly]="isViewMode"
        ></p-select>
      </div>

      <div class="form-field">
        <label for="notes">Notes</label>
        <textarea
          pTextarea
          id="notes"
          formControlName="notes"
          rows="5"
          [placeholder]="!isViewMode ? 'Enter notes (optional)' : ''"
          [readonly]="isViewMode"
        ></textarea>
      </div>

      <app-form-actions
        [onCancel]="onCancel.bind(this)"
          cancelLabel="To trip shared todos"
        cancelIcon="chevron-left"
        [cancelDisabled]="false"
        [onSubmit]="!isViewMode ? onSubmit.bind(this) : null"
        submitLabel="Submit"
        submitIcon="save"
        [submitDisabled]="form.invalid"
      ></app-form-actions>
    </form>
  </div>
</div>