<div class="list-container">
  <div
    class="item-container"
    *ngFor="let item of items; trackBy: trackByFn"
    #listItem
    [class.selected]="isSelected(item)"
    (click)="selectItem(item)"
  >
    <div class="left">
      <ng-container *ngTemplateOutlet="itemTemplate; context: { 
        $implicit: item,  
        tripPacks: packages,
        packageChange: packageChange.bind(this)
        }">
      </ng-container>

    </div>

    @if(dic2tripVisible || thing2packVisible) {
    <div class="right">
      <p-button
        [icon]="icon(item)"
        (click)="onIconClick(item, $event)"
        [rounded]="true"
        severity="secondary"
        [outlined]="true"
      ></p-button>
    </div>
    }
  </div>

</div>
