<div class="list-container">
  <div
    class="item-container"
    *ngFor="let item of items; trackBy: trackByFn"
    #listItem
    [class.selected]="isSelected(item)"
    (click)="selectItem(item)"
  >
    <div class="left">
      <ng-container *ngComponentOutlet="itemComponent; inputs: getInputs(item)">
      </ng-container>
    </div>

    @if(showRightSection) {
    <div class="right">
      <p-button
        [icon]="icon(item)"
        (click)="onIconClick(item, $event)"
        [rounded]="true"
        severity="secondary"
        [outlined]="true"
        [disabled]="rightSectionDisabled"
      ></p-button>
    </div>
    }
  </div>

</div>