<div class="main-content">
  <p-splitter
    *ngIf="leftPanelVisible()"
    class="main-splitter"
    [panelSizes]="[25, 75]"
    stateStorage="local"
    stateKey="plantour-main-splitter"
  >
    <ng-template pTemplate>
      <div class="left-panel">
        <p-listbox
          [options]="modules"
          [(ngModel)]="selectedModuleRoute"
          optionLabel="label"
          optionValue="route"
          class="modules-list"
        >
          <ng-template let-item pTemplate="item">
            <div class="module-item">
              <i [class]="item.icon"></i>
              <span>{{ item.label }}</span>
            </div>
          </ng-template>
        </p-listbox>
      </div>
    </ng-template>

    <ng-template pTemplate>
      <div class="right-panel">
        <div class="content-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-template>
  </p-splitter>

  <div *ngIf="!leftPanelVisible()" class="right-panel right-panel-full">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
