<div class="page-wrapper">
  <div class="page-header">
    <div class="header-left">
      <i [class]="pageIcon"></i>
      <h2>{{ pageTitle }}</h2>
    </div>
    <div class="header-right" *ngIf="actions.length > 0">
      <p-button
        *ngFor="let action of actions"
        [icon]="action.icon"
        [rounded]="true"
        [text]="true"
        (onClick)="action.action()"
        [severity]="action.severity || 'secondary'"
        [attr.aria-label]="action.label || ''">
      </p-button>
    </div>
  </div>
  <div class="page-content">
    <ng-content></ng-content>
  </div>
</div>
