<div class="page-container">
  <app-form-header
    [title]="title"
    icon="shopping-bag"
  ></app-form-header>

  <div class="controls-wrapper">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >

      <div class="form-field">
        <label for="name">Name<span class="required">*</span></label>
        <input
          appAutoFocus
          pInputText
          id="name"
          type="text"
          formControlName="name"
          placeholder="Enter bag name"
        />
        @if (form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)) {
        @if (form.get('name')?.errors?.['required']) {
        <small class="error-message">
          Name is required
        </small>
        }
        }
      </div>

      <div class="form-field">
        <label for="notes">Notes</label>
        <textarea
          pTextarea
          id="notes"
          formControlName="notes"
          rows="5"
          placeholder="Enter bag notes"
        ></textarea>
      </div>

      <app-form-actions
        [onCancel]="onCancel.bind(this)"
        cancelLabel="To packages"
        cancelIcon="chevron-left"
        [cancelDisabled]="false"
        [onSubmit]="onSubmit.bind(this)"
        submitLabel="Submit"
        submitIcon="save"
        [submitDisabled]="isLoading() || form.invalid"
      >
      </app-form-actions>
    </form>
  </div>
</div>
