<div class="dropbox-browser-card" [class.dropbox-browser-card--folder]="entity.type === 'folder'">
  <div class="dropbox-browser-card__details">
    <div class="dropbox-browser-card__type">{{ entity.type === 'folder' ? 'Folder' : 'Image' }}</div>
    <div class="dropbox-browser-card__name">{{ entity.name }}</div>
    <div class="dropbox-browser-card__path">{{ entity.pathDisplay }}</div>
  </div>

  @if (entity.type === 'folder') {
    <div class="dropbox-browser-card__actions">
      <button type="button" class="dropbox-browser-card__button" (click)="onOpenFolder($event)">Open folder</button>
    </div>
  }

  @if (entity.type === 'file' && previewVisible()) {
    <div class="dropbox-browser-card__preview">
      @if (previewLoading()) {
        <div class="dropbox-browser-card__preview-state">Loading preview...</div>
      } @else if (previewError()) {
        <div class="dropbox-browser-card__preview-state dropbox-browser-card__preview-state--error">{{ previewError() }}</div>
      } @else if (previewUrl()) {
        <img class="dropbox-browser-card__preview-image" [src]="previewUrl()" [alt]="entity.name" />
      }
    </div>
  }

  @if (entity.type === 'file' && submitVisible()) {
    <div class="dropbox-browser-card__actions">
      <button type="button" class="dropbox-browser-card__button dropbox-browser-card__button--primary" (click)="onSubmit($event)">Submit</button>
    </div>
  }
</div>