.checkout-page {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.first-view {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: 100%;
}

.controls-wrapper {
	width: 100%;
	max-width: 460px;
}

.form-actions app-button {
	display: inline-flex;
}

.status {
	margin: 1rem;
	text-align: center;
}

.checkout-frame-wrapper {
	width: 100%;
	padding: 1rem;
}

.paddle-inline-checkout-container {
	width: 100%;
	min-width: 312px;
}
