<div class="login-wrapper">
  <p-card [styleClass]="'p-card-ex'">
    <h2 class="title">Login</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">

      <div class="field">
        <label for="email">Email</label>
        <input id="email" pInputText type="email" formControlName="email" autocomplete="email" />
        <p-message *ngIf="form.controls.email.touched && form.controls.email.invalid"
          severity="error" text="Enter a valid email">
        </p-message>
      </div>

      <div class="field">
        <label for="password">Password</label>
        <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false"
          autocomplete="current-password" fluid>
        </p-password>
        <p-message *ngIf="form.controls.password.touched && form.controls.password.invalid"
          severity="error" text="Password is required">
        </p-message>
      </div>

      <p-message *ngIf="errorMessage()" severity="error" [text]="errorMessage()">
      </p-message>

      <div class="submit-center">
        <p-button type="submit" label="Login" [disabled]="submitting()">
        </p-button>

      </div>

    </form>
  </p-card>
</div>