<app-generic-list
    [service]="service"
    [fromDicService]="fromDicservice"
    [packingService]="packingService"
    [listActionsConfiguration]="configuration"
    title="Trip Things"
    entityIcon="pi-objects-column"
    [isListReadOnly]="false"
    [addUrl]="'add'"
    [editUrl]="'edit/:id'"
    entityNameProp="name"
    entityName="trip thing"
    [useTripId]="true"
    [tripPanelVisible]="true"
    [upperActionType]="ActionType.Thing2Pack"
    (registerGetter)="setCheckSelectedPack($event)"
    [componentId]="componentId"
    [itemMetaData]="packages"
    [itemComponent]="tripThingItemComponent"
>
</app-generic-list>

