
<app-generic-list
    [service]="service"
    [fromDicService]="fromDicservice"
    [packingService]="packingService"
    [listActionsConfiguration]="configuration"
    [itemTemplate]="thingTemplate"
    title="Trip Things"
    entityIcon="pi-box"
    [isListReadOnly]="false"
    [addUrl]="'add'"
    [editUrl]="'edit/:id'"
    entityNameProp="name"
    entityName="trip thing"
    [toolBarButtons]="toolBarButtons"
    [useTripId]="true"
    [dic2trip]="false"
    [tripPanelVisible]="true"
    [thing2pack]="true"
>
</app-generic-list>

<ng-template
    #thingTemplate
    let-item
    let-tripPacks="tripPacks"
    let-packageChange="packageChange"
>
    <span
        [innerHTML]="item.name"
    ></span>
    <p-select
        [options]="tripPacks || []"
        optionLabel="name"
        optionValue="id"
        [(ngModel)]="item.tripUserPackageId"
        (onChange)="packageChange(item, $event)"
        [showClear]="true"
        appendTo="body"
    />
</ng-template>
