<app-generic-list
    [service]="service"
    [fromDicService]="fromDicservice"
    [packingService]="packingService"
    [listActionsConfiguration]="configuration"
    [itemTemplate]="thingTemplate"
    title="Trip Things"
    entityIcon="pi-box"
    [isListReadOnly]="false"
    [addUrl]="'add'"
    [editUrl]="'edit/:id'"
    entityNameProp="name"
    entityName="trip thing"
    [toolBarButtons]="toolBarButtons"
    [useTripId]="true"
    [tripPanelVisible]="true"
    [upperActionType]="ActionType.Thing2Pack"
    (registerGetter)="setCheckSelectedPack($event)"
>
</app-generic-list>

<ng-template
    #thingTemplate
    let-item
    let-tripPacks="tripPacks"
    let-packageChange="packageChange"
>
    <div class="container">
        <span
            class="left"
            [innerHTML]="item.name"
        ></span>
        @if(!checkSelectedPack || !checkSelectedPack()) {
        <p-select
            class="right"
            [options]="tripPacks || []"
            optionLabel="name"
            optionValue="id"
            [(ngModel)]="item.tripUserPackageId"
            (onChange)="packageChange(item, $event)"
            [showClear]="true"
            appendTo="body"
        />

        }
    </div>
</ng-template>