<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-user"
        title="Travelers"
        [delete]="isReadOnly() ? null : deleteTraveler.bind(this)"
        [deleteMessage]="deleteMessage"
        entityName="traveler"
        entityNameProp="email"
        [addUrl]="isReadOnly() ? null : 'add'"
        [editUrl]="isReadOnly() ? null : 'edit/:id'"
        [viewUrl]="!isReadOnly() ? null : 'view/:id'"
        [menuItems]="menuItems()"
    ></app-entities-header>

    <app-entities-actions
        [onAddTargetClick]="onAddTargetClick.bind(this)"
        [onDeleteTargetClick]="onDeleteTargetClick.bind(this)"
    ></app-entities-actions>
    <app-entities
        [itemComponent]="travelerItemComponent"
        [targetEntityClick]="targetEntityButtonClick.bind(this)"
    ></app-entities>
</div>