<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-user"
        title="Traveler"
        [delete]="deleteTraveler.bind(this)"
        entityName="email"
        entityNameProp="email"
        addUrl="add"
        editUrl="edit/:id"
    ></app-entities-header>

    <app-entities-actions
        [onAddTargetClick]="onAddTargetClick.bind(this)"
        [onDeleteTargetClick]="onDeleteTargetClick.bind(this)"
    ></app-entities-actions>
    <app-entities
        [itemComponent]="travelerItemComponent"
        [targetEntityClick]="targetEntityButtonClick.bind(this)"
    ></app-entities>
</div>