@if(isAuthenticated) {
<section class="plans-header">
  <h3 class="plans-title">Your current plan is {{usersService.planPeriodSignal()}}. You can {{changeText}} it by clicking one of the buttons below.</h3>


</section>
}

<section class="pricing-grid" [class.two]="isAuthenticated">
  @for (plan of plans; track plan.name) {
  <div class="plan-card" [class.popular]="plan.isPopular">


    <div class="plan-header">
      <h3 class="plan-name">{{ plan.name }}</h3>
    </div>

    <p class="description">{{ plan.description }}</p>

    <div class="plan-top">
      <div class="price-row">
        <span class="currency" [class]="plan.order === 3 ? '':'m'">US$</span>
        <span class="amount">{{ plan.monthlyPrice }}</span>
        <span class="period">/month</span>
      </div>

      <div class="cta-row">
        <a
          class="cta-button"
          [class.link-disabled]="isCurrentPlanPrice(plan.monthlyPriceName!)"
          [class.outline]="!plan.isPopular"
          [href]="plan.monthlyPriceUrl"
        >
          {{ plan.monthlyButtonText }}
        </a>
      </div>

      <div class="price-row">
        @if (plan.annualPrice) {
        <span class="currency m">US$</span>
        <span class="amount">{{ plan.annualPrice }}</span>
        <span class="period">/year</span>
        } @else {
        <span class="period">Forever free</span>
        }
      </div>

      @if(plan.annualPrice) {
      <div class="cta-row">
        <a
          class="cta-button"
          [class.link-disabled]="isCurrentPlanPrice(plan.annualPriceName!)"
          [class.outline]="!plan.isPopular"
          [href]="plan.annualPriceUrl"
        >
          {{ plan.annualButtonText }}
        </a>
      </div>
      }
    </div>


    <div class="divider"></div>

    <ul class="plan-features">
      @for (feat of plan.features; track feat.label) {
      <li [class.disabled]="feat.value === false">
        <span class="feat-label">{{ feat.label }}</span>
        <span
          class="feat-value"
          [class.highlight]="feat.highlight"
        >
          @if (feat.value === true) {
          Included
          } @else if (feat.value === false) {
          —
          } @else {
          {{ feat.value }}
          }
        </span>
      </li>
      }
    </ul>
  </div>
  }
</section>
