@if (plansLoaded) {

@if(isAuthenticated) {
<section class="plans-header">
  <h3 class="plans-title">{{topWording1}}</h3>
  <h3 class="plans-title">{{topWording2}}</h3>
</section>
}

<section
  class="pricing-grid"
  [class.two]="isAuthenticated"
>

  @if(!isAuthenticated) {
  <div class="plan-card">
    <div class="plan-header">
      <h3 class="plan-name">{{ starter.name }}</h3>
    </div>

    <p class="description">{{ starter.description }}</p>

    <div class="plan-top">
      <div class="price-row">
        <span class="currency m">US$</span>
        <span class="amount">{{ starter.monthlyPrice }}</span>
        <span class="period">/month</span>
      </div>

      <div class="cta-row">
        <a
          class="cta-button"
          [href]="starter.monthlyPriceUrl"
        >
          {{ starter.monthlyButtonText }}
        </a>
      </div>

      <div class="price-row">
        <span class="period">Forever free</span>
      </div>
    </div>


    <div class="divider"></div>

    <ul class="plan-features">
      @for (feat of starter.features; track feat.label) {
      <li [class.disabled]="feat.value === false">
        <span class="feat-label">{{ feat.label }}</span>
        <span
          class="feat-value"
          [class.highlight]="feat.highlight"
        >
          @if (feat.value === true) {
          Included
          } @else if (feat.value === false) {
          —
          } @else {
          {{ feat.value }}
          }
        </span>
      </li>
      }
    </ul>
  </div>

  }

  <div class="plan-card popular">
    <div class="plan-header">
      <h3 class="plan-name">{{ family.name }}</h3>
    </div>

    <p class="description">{{ family.description }}</p>

    <div class="plan-top">
      <div class="price-row">
        <span class="currency m">US$</span>
        <span class="amount">{{ family.monthlyPrice }}</span>
        <span class="period">/month</span>
      </div>

      <div class="cta-row">
        @if (isAuthenticated && !isTemporary && !isStarter) {
        <a
          class="cta-button"
          [class.link-disabled]="!family.monthlyAvalable"
          (click)="onPlanButtonClick($event, family.monthlyPriceName, isDowngrade(family.monthlyButtonText))"
        >
          {{ family.monthlyButtonText }}
        </a>
        } @else {
        <a
          class="cta-button"
          [class.link-disabled]="isCurrentPlanPrice(family.monthlyPriceName!)"
          [href]="family.monthlyPriceUrl + starterEmailUrlPart"
        >
          {{ family.monthlyButtonText }}
        </a>

        }
      </div>

      <div class="price-row">
        <span class="currency m">US$</span>
        <span class="amount">{{ family.yearlyPrice }}</span>
        <span class="period">/year</span>
      </div>

      <div class="cta-row">
        @if (isAuthenticated && !isTemporary && !isStarter) {
        <a
          class="cta-button"
          [class.link-disabled]="!family.yearlyAvalable"
          (click)="onPlanButtonClick($event, family.yearlyPriceName!, isDowngrade(family.yearlyButtonText!))"
        >
          {{ family.yearlyButtonText }}
        </a>
        } @else {
        <a
          class="cta-button"
          [class.link-disabled]="!family.yearlyAvalable"
          [href]="family.yearlyPriceUrl + starterEmailUrlPart"
        >
          {{ family.yearlyButtonText }}
        </a>

        }
      </div>

    </div>


    <div class="divider"></div>

    <ul class="plan-features">
      @for (feat of family.features; track feat.label) {
      <li [class.disabled]="feat.value === false">
        <span class="feat-label">{{ feat.label }}</span>
        <span
          class="feat-value"
          [class.highlight]="feat.highlight"
        >
          @if (feat.value === true) {
          Included
          } @else if (feat.value === false) {
          —
          } @else {
          {{ feat.value }}
          }
        </span>
      </li>
      }
    </ul>
  </div>

  <div class="plan-card">

    <div class="plan-header">
      <h3 class="plan-name">{{ expedition.name }}</h3>
    </div>

    <p class="description">{{ expedition.description }}</p>

    <div class="plan-top">
      <div class="price-row">
        <span class="currency m">US$</span>
        <span class="amount">{{ expedition.monthlyPrice }}</span>
        <span class="period">/month</span>
      </div>

      <div class="cta-row">
        @if (isAuthenticated && !isTemporary && !isStarter) {
        <a
          class="cta-button outline"
          [class.link-disabled]="!expedition.monthlyAvalable"
          (click)="onPlanButtonClick($event, expedition.monthlyPriceName, isDowngrade(expedition.monthlyButtonText))"
        >
          {{ expedition.monthlyButtonText }}
        </a>
        } @else {
        <a
          class="cta-button outline"
          [class.link-disabled]="isCurrentPlanPrice(expedition.monthlyPriceName!)"
          [href]="expedition.monthlyPriceUrl + starterEmailUrlPart"
        >
          {{ expedition.monthlyButtonText }}
        </a>

        }
      </div>

      <div class="price-row">
        <span class="currency m">US$</span>
        <span class="amount">{{ expedition.yearlyPrice }}</span>
        <span class="period">/year</span>
      </div>

      <div class="cta-row">
        @if (isAuthenticated && !isTemporary && !isStarter) {
        <a
          class="cta-button outline"
          [class.link-disabled]="!expedition.yearlyAvalable"
          (click)="onPlanButtonClick($event, expedition.yearlyPriceName!, isDowngrade(expedition.yearlyButtonText!))"
        >
          {{ expedition.yearlyButtonText }}
        </a>
        } @else {
        <a
          class="cta-button outline"
          [class.link-disabled]="!expedition.yearlyAvalable"
          [href]="expedition.yearlyPriceUrl + starterEmailUrlPart"
        >
          {{ expedition.yearlyButtonText }}
        </a>

        }
      </div>
    </div>


    <div class="divider"></div>

    <ul class="plan-features">
      @for (feat of expedition.features; track feat.label) {
      <li [class.disabled]="feat.value === false">
        <span class="feat-label">{{ feat.label }}</span>
        <span
          class="feat-value"
          [class.highlight]="feat.highlight"
        >
          @if (feat.value === true) {
          Included
          } @else if (feat.value === false) {
          —
          } @else {
          {{ feat.value }}
          }
        </span>
      </li>
      }
    </ul>
  </div>

</section>

}