<app-generic-list
  [service]="service"
  [listActionsConfiguration]="configuration"
  [itemTemplate]="thingTemplate"
  title="Things"
  entityIcon="pi-objects-column"
  [isListReadOnly]="false"
  [addUrl]="'add'"
  [editUrl]="'edit/:id'"
  entityNameProp="name"
  entityName="thing"
  [toolBarButtons]="toolBarButtons"
  [dic2trip]="true"
  [tripDicService]="tripDicService"
  [fromDicService]="fromDicService"
>
</app-generic-list>

<ng-template
  #thingTemplate
  let-item
>

  <div class="thing-row">
    <span
      class="thing-name"
      [innerHTML]="item.name"
    ></span>

    @if (item.category) {
    <p-tag
      class="thing-category"
      [value]="item.category"
      severity="secondary"
      [style]="{  'font-size': 'large' }"
      (click)="onCategoryClick(item, $event)"
    >
    </p-tag>
    }
  </div>

</ng-template>