<div class="page-container">
    <app-entities-header
        entityIcon="pi pi-objects-column"
        title="Items"
        [delete]="deleteThing.bind(this)"
        entityName="item"
        addUrl="add"
        editUrl="edit/:id"
        [menuItems]="menuItems()"
    ></app-entities-header>

    @if (usersService.isTemporarySignal()) {
    <div style="padding-top: 0.5rem; text-align: center;">
        <a href="/help/get-started/first-steps">How to take the first steps</a>
    </div>
    }

    <app-entities-actions
        [onAddTargetClick]="onAddTargetClick.bind(this)"
        [onDeleteTargetClick]="onDeleteTargetClick.bind(this)"
    ></app-entities-actions>
    <app-entities
        [itemComponent]="thingItemComponent"
        [targetEntityClick]="targetEntityClick.bind(this)"
    ></app-entities>
</div>