<div class="page-header">
    <div class="page-left">
        <i
            class="pi"
            [class]="entityIcon"
        ></i>
        <h2 class="ellipsis-text">{{ title }}</h2>
    </div>

    <!-- icon="pi pi-plus" -->
    <div class="page-content">
        <!-- no format -->
        @if(addUrl) {

        <button
          class="pl-button"
          (click)="onAdd()"
        >
          <span class="pi pi-plus"></span>
          <span class="button-label">Add</span>
        </button>
        }
        @if(editUrl) {
        <button
          class="pl-button"
          (click)="onEdit()"
          [disabled]="!selectedId()"     
        >
          <span class="pi pi-pencil"></span>
          <span class="button-label">Update</span>
        </button>
        }
        @if(viewUrl) {
        <button
          class="pl-button"
          (click)="onView()"
          [disabled]="!selectedId()"     
        >
          <span class="pi pi-eye"></span>
          <span class="button-label">View</span>
        </button>
        }
        @if(delete) {
        <button
          class="pl-button"
          (click)="onDelete()"
          [disabled]="!selectedId()"     
        >
          <span class="pi pi-trash"></span>
          <span class="button-label">Delete</span>
        </button>
        }
      <!-- no format -->
        
        @if (useEntitiesActions()) {
        <button
          class="pl-button"
          (click)="toggleEntitiesActions()"
        >
            <span [class]='getEntitiesActionClass()' [class.corner-triangle]="anyConditionSet()"></span>
        </button>
        }
    </div>
</div>