Plantour портал предназначен для организации сборов вещей в дорогу как для одиночных туристов, так и для групп туристов. Есть два типа юзеров: Админы и Участники. Участники могут быть включены в список юзеров, участвующих в путешествии, собирать вещи в дорогу. Админы могут все то, что могут Участники плюс создавать путешествия и приглашать в них Участников. 


Структура данных: 

- юзеры (Админы)

    - справочник путешественников

    - справочник категорий вещей
        - справочник вещи категории

    - справочник категории  упаковок
        - справочник упаковки категории

    - путешествия
        - путешественники путешествия  (Админы или Участники)
            - приглашения, посланные путешественнику путешествия
            - упаковки путешественника путешествия
                -вещи упаковки



Процессы, коорые должно поддерживать приложение.

Юзер создаёт путеществие. Приглашает в него участников. Участники создают свои списки упаковка/вещь. Упаковки могут быть вложенными. Админ имеет полный доступ к любым данным любых участников путешаствий в пределах своего аккаунта. Участник имеет доступ к своим справочникам и своим вещам/упаковкам в пределах путешествия.        

Создай UI макеты приложения для обеспечения описанной функциональности. Объясни подробно для каждого макета, как он устроен и как юзер будет им пользоваться. Используй русский язык.
 

