.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.2s ease;
  height: 60px;
  cursor: pointer;
  user-select: none;

  &:hover {
    transform: scale(1.05);
  }

  img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}

.menu-button {
  color: white !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}

.dynamic-button {
  color: white !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}

.toolbar-popup-menu {
  white-space: pre-wrap;
}