<div class="toolbar-container">
<div class="view-header">
  <div class="view-left">
    <div
      class="logo-container"
      (click)="onLogoClick()"
    >
      <img
        src="assets/plantour-logo.png"
        alt="Plantour Logo"
        class="logo-image"
      />
      <!-- <span class="app-title">Plantour</span> -->
      <h2 class="ellipsis-text">Plantour</h2>
    </div>
  </div>


  <div class="view-content">

    <button
      class="pl-button"
      (click)="onDashboardClick($event)"
    >
      <span class="pi pi-chart-bar"></span>
      <span class="button-label">Dashboard</span>
    </button>


    <button
      class="pl-button"
      (click)="popoverDic.toggle($event)"
    >
      <span class="pi pi-clone"></span>
      <span class="button-label">Dictionary</span>
    </button>
    <p-popover
      #popoverDic
      styleClass="no-arrow"
    >
      <nav class="pl-menu-container">
        <a
          class="pl-menu-item"
          [class.selected]="isNavigatedComponent('travelers')"
          (click)="onTravelersClick($event, popoverDic)"
        >
          <span class="pi pi-compass"></span>
          <span class="button-label">Travelers</span>
        </a>
        <a
          class="pl-menu-item"
          [class.selected]="isNavigatedComponent('things')"
          (click)="onThingsClick($event, popoverDic)"
        >
          <span class="pi pi-objects-column"></span>
          <span class="button-label">Things</span>
        </a>
        <a
          class="pl-menu-item"
          [class.selected]="isNavigatedComponent('packs')"
          (click)="onPacksClick($event, popoverDic)"
        >
          <span class="pi pi-box"></span>
          <span class="button-label">Packs</span>
        </a>


      </nav>
    </p-popover>

    <button
      class="pl-button"
      (click)="popoverTrip.toggle($event);"
    >
      <span class="pi pi-compass"></span>
      <span class="button-label">Trip</span>
    </button>
    <p-popover
      #popoverTrip
      styleClass="no-arrow"
    >
      <nav class="pl-menu-container">
        <a
          class="pl-menu-item"
          [class.selected]="isNavigatedComponent('trips')"
          (click)="onTripsClick($event, popoverTrip)"
        >
          <span class="pi pi-compass"></span>
          <span class="button-label">Trips</span>
        </a>
        <a
          class="pl-menu-item"
          [class.selected]="isNavigatedComponent('trip-participants')"
          (click)="onTripParticipantsClick($event, popoverTrip)"
          [class.disabled]="!isCurrentTrip"
        >
          <span class="pi pi-users"></span>
          <span class="button-label">Participants</span>
        </a>
        <a
          class="pl-menu-item"
          [class.selected]="isNavigatedComponent('trip-things')"
          (click)="onTripThingsClick($event, popoverTrip)"
          [class.disabled]="!isCurrentTrip"
        >
          <span class="pi pi-objects-column"></span>
          <span class="button-label">Things</span>
        </a>
        <a
          class="pl-menu-item"
          [class.selected]="isNavigatedComponent('trip-packs')"
          (click)="onTripPacksClick($event, popoverTrip)"
          [class.disabled]="!isCurrentTrip"
        >
          <span class="pi pi-box"></span>
          <span class="button-label">Packs</span>
        </a>
        <a
          class="pl-menu-item"
          [class.selected]="isNavigatedComponent('trip-shared')"
          (click)="onTripSharedClick($event, popoverTrip)"
          [class.disabled]="!isCurrentTrip"
        >
          <span class="pi pi-link"></span>
          <span class="button-label">Shared</span>
        </a>


      </nav>
    </p-popover>

    <button
      class="pl-button"
      [disabled]="false"
      (click)="popoverFeatures.toggle($event)"
    >
      <span class="pi pi-bars"></span>
      <span class="button-label">Features</span>
    </button>
    <p-popover
      #popoverFeatures
      styleClass="no-arrow"
    >
        <a
          class="pl-menu-item"
          (click)="onToggleTripTextClick($event, popoverFeatures)"
        >
          <span class="pi pi-compass"></span>
          <span class="button-label">{{tripTextLabel}}</span>
        </a>

      @for (item of featuresMenuItems; track item.label) {
        @if(!item.separator) {
        <a
          class="pl-menu-item"
          [class.selected]="isNavigatedComponent(item.componentId)"
          (click)="item.command($event, popoverFeatures)"
        >
          <span [class]="item.icon"></span>
          <span class="button-label">{{item.label}}</span>
        </a>
        } @else {
          <hr>
        }
      }
    </p-popover>
  </div>
</div>
@if(tripTextVisible) {
<div class="trip-text">
  <a [routerLink]="['/trips']" class="ellipsis-text">{{tripText}}</a>
</div>
}
</div>