<div class="page-container">
  <app-entities-header
    entityIcon="pi pi-money-bill"
    title="Trip shared expenses"
    [delete]="isParticipant() ? null : deleteTripSharedExpense.bind(this)"
    entityName="shared expense"
    [addUrl]="isParticipant() ? null : 'add'"
    [editUrl]="isParticipant() ? null : 'edit/:id'"
    [viewUrl]="!isParticipant() ? null : 'view/:id'"
    [menuItems]="menuItems()"
  ></app-entities-header>

  <app-expenses-overview
    [componentId]="componentId"
    [tripSharedExpenses]="tripSharedExpenses()"
    [participants]="tripUsers()"
    [tripCurrencyAbbreviation]="itemMetaData.tripCurrencyAbbreviation"
    [loaded]="overviewLoaded()"
  ></app-expenses-overview>

  <app-entities-actions></app-entities-actions>

  <app-entities
    [itemComponent]="tripSharedExpenseItemComponent"
    [itemMetaData]="itemMetaData"
  ></app-entities>
</div>