<!-- @if (showShellChrome() && showNonProductionBanner) {
<div class="non-production">
  {{ environmentName }} environment - test data only
</div>
} -->
@if (showShellChrome()) {
<app-toolbar></app-toolbar>
}
<div class="outlet-container">
  <router-outlet
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </router-outlet>
  @if (showShellChrome()) {
  <div class="app-footer">
    <a href="/terms">Terms of Usage</a>
    <a href="/refund">Refund Policy</a>
    <a href="/privacy">Privacy Policy</a>
  </div>
  }
</div>
<app-toast-container></app-toast-container>
<app-modal-dialog></app-modal-dialog>
<app-loading></app-loading>