<div class="page-header">
    <div class="page-left">
        <i
            class="pi"
            [class]="'pi-' + icon()"
        ></i>
        <h2 class="ellipsis-text">{{ title() }}</h2>
    </div>
    <div class="page-right">
        @if(menuItems().length) {
            <button
                pButton
                type="button"
                class="p-button-rounded p-button-text"
                icon="pi pi-ellipsis-v"
                [pPopover]="menu"
                popoverStyleClass="menu-popover"
                popoverPosition="bottom"
                popoverAppend="body"
                [showTransitionOptions]="'0ms'"
                [hideTransitionOptions]="'0ms'"
            ></button>
            <ng-template #menu>
                <div class="menu-items">
                    @for(item of menuItems(); track item.icon) {
                        <button
                            type="button"
                            class="menu-item"
                            (click)="item.action()"
                        >
                            <i [class]="'pi pi-' + item.icon"></i>
                            <span>{{ item.label }}</span>
                        </button>
                    }
                </div>
            </ng-template>
        }
    </div>
</div>