<div class="item-component-container">
    <div class="upper-row">
        <div [innerHTML]="entity.name"></div>
        @if(!targetCondition() && itemMetaData?.assigneesVisible() && isAdminSignal()) {
        <p-select
            class="assignee"
            [options]="itemMetaData.assignees"
            optionLabel="name"
            optionValue="id"
            [ngModel]="entity.assignedToId"
            [placeholder]="'Select assignee'"
            [ngModelOptions]="{ standalone: true }"
            [showClear]="true"
            appendTo="body"
            (onChange)="onAssigneeChange($event.value)"
            (onClick)="onAssigneeClick($event)"
            showClear="true"
        >
        </p-select>
        }
    </div>
    @if (itemMetaData?.assignmentsVisible()) {
        @if(!isAdminSignal()) {
        <div class="checkboxes item">
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="accepted"
                    [binary]="true"
                    inputId="accepted"
                    (click)="handleAcceptedClick($event)"
                >
                </p-checkbox>

                <label
                    for="accepted"
                    (click)="handleAcceptedClick($event)"
                > Accepted </label>
            </div>
            <div class="checkbox-container">
                <p-checkbox
                    [(ngModel)]="rejected"
                    [binary]="true"
                    inputId="rejected"
                    (click)="handleRejectedClick($event)"
                >
                </p-checkbox>
                <label
                    for="rejected"
                    (click)="handleRejectedClick($event)"
                >Rejected</label>
            </div>
        </div>
        }
        <div class="lower-row status-text" [class]="statusToClassMap">
            {{entity.assignmentStatusText}}
        </div>
    }
</div>