<div class="container">
    <div
        class="ic-2-item"
        [innerHTML]="entity.name | thingText : entity.units : entity.value"
    ></div>
    <div class="ic-2-item ic-2-right">

        @if(!targetCondition() && itemMetaData?.assigneesVisible() && isAdminSignal()) {
        <p-select
            class="ic-2-select "
            [options]="itemMetaData.assignees"
            optionLabel="name"
            optionValue="id"
            [ngModel]="entity.assignedToId"
            [placeholder]="'Select assignee'"
            [ngModelOptions]="{ standalone: true }"
            [showClear]="true"
            appendTo="body"
            (onChange)="onAssigneeChange($event.value)"
            (onClick)="onAssigneeClick($event)"
        >
        </p-select>
        } @else if(entity.category){
        <span class="ic-2-item ic-2-right ellipsis-text">
            <div class="category">{{entity.category}}</div>
        </span>
        }
    </div>

</div>
@if (itemMetaData?.assignmentsVisible()) {
@if(entity.currentUserCanAcceptOrReject) {
<div class="checkboxes-wrapper">
    <div class="checkbox-container">
        <p-checkbox
            [ngModel]="!!entity.assignedThingId"
            [binary]="true"
            inputId="accepted"
            (click)="handleAcceptedClick($event)"
        >
        </p-checkbox>

        <label
            for="accepted"
            (click)="handleAcceptedClick($event)"
        > Accepted </label>
    </div>
    <div class="checkbox-container">
        <p-checkbox
            [ngModel]="!!entity.rejected"
            [binary]="true"
            inputId="rejected"
            (click)="handleRejectedClick($event)"
        >
        </p-checkbox>
        <label
            for="rejected"
            (click)="handleRejectedClick($event)"
        >Rejected</label>
    </div>
</div>
}
<div
    class="smaller-text"
    [class]="statusToClassMap"
>
    {{entity.assignmentStatusText}}
</div>
}