.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  flex-shrink: 0;

  .left {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.75rem;
    align-items: center;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: var(--font-heading);
    }
  }

  .content {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 200px;
  }
}


.selected-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.checkbox-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}