// :host {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
// }

:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
