<div class="container">
  <amazon-link
    class="ic-2-item ellipsis-text"
    [item]="entity.name"
    [linkText]="entity.name"
  ></amazon-link>

  <span class="ic-2-item ellipsis-text">{{ amountText }}</span>

  <div class="ic-2-item ic-2-right">
    @if (secondaryText) {
      <span class="ic-2-item ic-2-right ellipsis-text">{{ secondaryText }}</span>
    }
  </div>
</div>
@if (itemMetaData?.assignmentsVisible()) {
  <div
    class="smaller-text"
    [class]="statusToClassMap"
  >{{ entity.assignmentStatusText }}@if (assignmentDateText && !entity.tripSharedExpenseId) { · {{ assignmentDateText }} }</div>
}