<div class="container">
  <div class="expense-copy">
    <amazon-link
      class="ic-2-item ellipsis-text"
      [item]="entity.name"
      [linkText]="entity.name"
    ></amazon-link>

    @if (secondaryText) {
      <div class="smaller-text meta-text">{{ secondaryText }}</div>
    }

    @if (notesText) {
      <div class="smaller-text">{{ notesText }}</div>
    }
  </div>

  <div class="ic-2-item ic-2-right amount-text">{{ amountText }}</div>
</div>
@if (itemMetaData?.assignmentsVisible()) {
  <div
    class="smaller-text"
    [class]="statusToClassMap"
  >{{ entity.assignmentStatusText }}</div>
}