<app-content-layout>
  <div class="page-header">
    <div class="header-left">
      <i class="pi" [class]="entityIcon"></i>
      <h2>{{title}}</h2>
    </div>
    <div class="header-right">
      @if (listNotEmpty) {
      @if(!listToolsShown) {<i class="pi pi-filter" (click)="showListActions()"></i>}
      @if(listToolsShown) {<i class="pi pi-filter-slash" (click)="hideListActions()"></i>}
      }
      <i class="pi pi-plus"></i>
      <i class="pi pi-pencil"></i>
      <i class="pi pi-trash"></i>
    </div>
  </div>

  @if (entities && entities!.length > 0) {
  @if (listToolsShown) {
  <app-list-actions [items]="entities!" [config]="listActionsConfiguration"
    (listChanged)="onEntitiesChanged($event)">
  </app-list-actions>
  }

  <p-listbox [options]="processedEntities!" [(ngModel)]="selected">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
    </ng-template>
  </p-listbox>
  } @else {
  <div class="empty-state">
    <i class="pi" [class]="entityIcon"></i>
    <p>No rows yet</p>
  </div>
  }
</app-content-layout>