<app-content-layout>
  <div class="page-header">
    <div class="header-left">
      <i
        class="pi"
        [class]="entityIcon"
      ></i>
      <h2 class="ellipsis-text">{{ title }}</h2>
    </div>

    <div class="header-middle">
      @if(!isListReadOnly) {
      <!-- no format -->
        @if(addUrl) {
          <p-button
            icon="pi pi-plus"
            (click)="onAdd()"
            [rounded]="true" 
            [text]="true"
            />
        }
        @if(editUrl) {
          <p-button
            icon="pi pi-pencil"
            (click)="onEdit()"
            [disabled]="!selected"     
            [rounded]="true" 
            [text]="true"
            />
        }
        <p-button
          icon="pi pi-trash"
          (click)="onDelete()"
          [disabled]="!selected"     
          [rounded]="true" 
          [text]="true"
            />
      <!-- no format -->
      }
    </div>

    <div class="header-right">
      <button
        pButton
        icon="pi pi-ellipsis-v"
        class="p-button-text p-button-rounded menu-button"
        (click)="menu.toggle($event)"
        aria-label="Menu"
      >
      </button>
        <!-- styleClass="toolbar-popup-menu" -->
      <p-menu
        #menu
        [model]="menuItems"
        [popup]="true"
      >

        <ng-template
          pTemplate="item"
          let-item
        >
          <ng-container>

            <div class="menu-item-container">
              <i [ngClass]="item.icon"></i>
              @switch (item.id) {
              @case ('dic2trip') {
              <div>
                {{`${this.dic2tripVisible ? "Hide" : "Show"} trips select`}}
              </div>
              }
              @case ('thing2pack') {
              <div>
                {{`${this.thing2packVisible ? "Hide" : "Show"} packs select`}}
              </div>
              }
              @case ('tools') {
              <div>
                {{`${this.listToolsVisible ? "Hide" : "Show"} list tools`}}
              </div>
              }


              }
            </div>
          </ng-container>
        </ng-template>

      </p-menu>
    </div>
  </div>

  <!-- [dic2tripVisible]="showDic2Trip"
    [thing2packVisible]="thing2packVisible" -->


  @if (tripPanelVisible && tripId) {
  <app-trip-panel [tripId]="tripId"></app-trip-panel>
  }


    @if (showDic2Trip) {
  <app-dic-trip
    (selectedTripChanged)="onSelectedTripChanged($event)"
    (registerGetter)="setCheckSelectedTrip($event)"
    [entitiesToDisplay]="entitiesToDisplay"
    [addFromDic]="addFromDic.bind(this)"
    [deleteFromDic]="deleteFromDic.bind(this)"
    [tripsFor]="tripsFor"
  ></app-dic-trip>
  }


  @if(thing2packVisible) {
  <app-packing
    [packages]="packages"
    ,
    [things]="entitiesToDisplay?.list || []"
    ,
    [pack]="pack.bind(this)"
    [unpack]="unpack.bind(this)"
    (registerGetter)="setCheckSelectedPack($event)"
    (selectedTripPackageChanged)="onSelectedTripPackageChanged($event)"
  >
  </app-packing>
  }

  <app-list-actions
    [items]="entities"
    [config]="listActionsConfiguration"
    (listChanged)="onEntitiesChanged($event)"
    [ngStyle]="{display: listToolsVisible ? 'block':'none'}"
  >
  </app-list-actions>

  <app-list-box
    [items]="entitiesToDisplay?.list || []"
    [itemTemplate]="itemTemplate"
    (selectedChange)="onSelectedChange($event)"
    (addRemoveFromDic)="onAddRemoveFromDic($event)"
    [upperActionType]="upperActionType"
    (packUnpack)="onPackUnpack($event)"
    [packages]="packages"
  ></app-list-box>


  @if (!processedEntities || processedEntities.length === 0) {
  <div class="empty-state">
    <i
      class="pi"
      [class]="entityIcon"
    ></i>
    <p>No rows</p>
  </div>
  }
</app-content-layout>