<app-content-layout>
  <div class="page-header">
    <div class="header-left">
      <i
        class="pi"
        [class]="entityIcon"
      ></i>
      <h2 class="ellipsis-text">{{ title }}</h2>
    </div>

    <div class="header-middle">
      @if(!isListReadOnly) {
      <!-- no format -->
        @if(addUrl) {
          <p-button
            icon="pi pi-plus"
            (click)="onAdd()"
            [rounded]="true" 
            [text]="true"
            />
        }
        @if(editUrl) {
          <p-button
            icon="pi pi-pencil"
            (click)="onEdit()"
            [disabled]="!selected"     
            [rounded]="true" 
            [text]="true"
            />
        }
        <p-button
          icon="pi pi-trash"
          (click)="onDelete()"
          [disabled]="!selected"     
          [rounded]="true" 
          [text]="true"
            />
      <!-- no format -->
      }
    </div>

    <div class="header-right">
      <button
        pButton
        icon="pi pi-ellipsis-v"
        class="p-button-text p-button-rounded menu-button"
        (click)="menu.toggle($event)"
        aria-label="Menu"
      >
      </button>
      <p-menu
        #menu
        [model]="menuItems"
        [popup]="true"
        styleClass="toolbar-popup-menu"
      ></p-menu>
    </div>
  </div>

  @if (showDic2Trip) {
  <app-dic-trip
    (selectedTripChanged)="onSelectedTripChanged($event)"
    (registerGetter)="setCheckSelectedTrip($event)"
    [entitiesToDisplay]="entitiesToDisplay"
    [addFromDic]="addFromDic.bind(this)"
    [deleteFromDic]="deleteFromDic.bind(this)"
    [tripsFor]="tripsFor"
  ></app-dic-trip>
  }
  @if (tripPanelVisible && tripId) {
  <app-trip-panel [tripId]="tripId"></app-trip-panel>
  }

  <app-list-actions
    [items]="entities"
    [config]="listActionsConfiguration"
    (listChanged)="onEntitiesChanged($event)"
    [ngStyle] = "{display: listToolsVisible ? 'block':'none'}"
  >
  </app-list-actions>

  <app-list-box
    [items]="entitiesToDisplay.list || []"
    [itemTemplate]="itemTemplate"
    (selectedChange)="onSelectedChange($event)"
    (addRemoveFromDic)="onAddRemoveFromDic($event)"
    [dic2tripVisible]="showDic2Trip"
  ></app-list-box>


  @if (!processedEntities || processedEntities.length === 0) {
  <div class="empty-state">
    <i
      class="pi"
      [class]="entityIcon"
    ></i>
    <p>No rows</p>
  </div>
  }
</app-content-layout>